<!-- <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Question">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button>Add</button>
</div> -->
<mat-card>
  <mat-card-title>
    <mat-form-field class="w-100">
      <input matInput placeholder="Question" [(ngModel)]="question">
    </mat-form-field>
  </mat-card-title>
  <mat-card-content>
    <mat-radio-group class="d-flex flex-column" [(ngModel)]="answer">
      <mat-radio-button [value]="c1" class="ml-5">
        <mat-form-field>
          <input matInput placeholder="choice 1" [(ngModel)]="c1">
        </mat-form-field>
      </mat-radio-button>
      <mat-radio-button [value]="c2" class="ml-5">
        <mat-form-field>
          <input matInput placeholder="choice 2" [(ngModel)]="c2">
        </mat-form-field>
      </mat-radio-button>
      <mat-radio-button [value]="c3" class="ml-5">
        <mat-form-field>
          <input matInput placeholder="choice 3" [(ngModel)]="c3">
        </mat-form-field>
      </mat-radio-button>
      <mat-radio-button [value]="c4" class="ml-5">
        <mat-form-field>
          <input matInput placeholder="choice 4" [(ngModel)]="c4">
        </mat-form-field>
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="add()">Add</button>
  </mat-card-actions>
</mat-card>