.top {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: darkgreen;
    // font-size: 3rem;
    // position: relative;
    z-index: 10;
    height: 100px;
}

.main-container {
    display: flex;
    height: calc(100vh - 100px);
    position: relative;
    width: 100%;
}

.right,
.left {
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    overflow: auto;
}

.right {
    right: 0;
}

.app-spacer {
    flex: 1 1 auto;
}