<mat-toolbar color="primary">
    <mat-toolbar-row class="d-flex justify-content-between">
        <div>
            Test's code is {{code}}
        </div>
        <div>
            <span>{{(questions$|async).length}} questions in</span>
            <mat-form-field class="ml-1 w-50">
                <mat-select [(value)]="time">
                    <mat-option value="30"> 30 minutes</mat-option>
                    <mat-option value="40"> 40 minutes</mat-option>
                    <mat-option value="50"> 50 minutes</mat-option>
                    <mat-option value="60"> 60 minutes</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <span class="app-spacer"></span> -->
        <button mat-raised-button color="warn" [disabled]="(questions$|async).length===0" (click)="createGame()">Next</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="main-container">
    <div class="left">
        <app-prepared-question class="m-1" *ngFor="let question of preparedQuestions$|async" [question]="question" (add)="onAddQuestion($event)"></app-prepared-question>
        <!-- <mat-selection-list #preparedQuestions>
            <mat-list-option *ngFor="let question of preparedQuestions$|async">
                {{question.question}}
            </mat-list-option>
        </mat-selection-list> -->
    </div>
    <div class="right pl-2">
        <app-create-question (addQuestion)="onAddQuestion($event)"></app-create-question>
        <ng-template [ngIf]="questions$|async">
            <app-question-box class="m-1" *ngFor="let question of questions$|async" [question]="question" (remove)="onRemoveQuestion($event)"></app-question-box>
        </ng-template>
    </div>
</div>